<div id="<%= dom_id person %>" class="my-3">
  <p>
    <strong>Nome:</strong>
    <%= person.name %>
  </p>
  <p>
    <strong>Telefone:</strong>
    <%= person.phone_number %>
  </p>
  <p>
    <strong>CPF / CNPJ:</strong>
    <%= person.national_id %>
  </p>
  <p>
    <strong>Ativo:</strong>
    <%# TODO: refactor: use a helper method %>
    <%= active_status(@person.active) %>
  </p>
  <p>
    <strong>Débitos</strong>
    <%= person.total_debts %>
  </p>
  <p>
    <strong>Pagamentos</strong>
    <%= person.total_payments %>
  </p>
  <p>
    <strong>Saldo</strong>
    <%= person.balance %>
  </p>
</div>
